/aula1608a/nbproject/private/
/aula1608a/build/
/aula1608b/nbproject/private/
/aula1608b/build/
/aula2308a/nbproject/private/
/aula2308a/build/
/Aula2308b/nbproject/private/
/Aula2308b/build/
/Aula2308c/nbproject/private/
/Aula2308c/build/
/aula3008/nbproject/private/
/aula3008/build/
/ProjetoAcampamentos/nbproject/private/
/ProjetoAcampamentos/build/
/ProjetoComputadores/nbproject/private/
/ProjetoComputadores/build/